html,
body{
	font-family: 'robotoregular', sans-serif;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.navbar{
	height: 50px;
	background-color: #607D8B;
}

.navbar #app-name{
	font-family: 'latolight';
	letter-spacing: 2px;
}

strong{
	font-family: 'latobold';
}

.page-content{
	padding-top: 50px;
}
